#divGallImg001{
    background-image: url(../images/DanielTigerFamilyIsDark.jpg)
}

#divGallImg002{
    background-image: url(../images/FiatTiredOfBeingHarassed.jpg)
}

#divGallImg003{
    background-image: url(../images/MySonMeInJuly.gif)
}

#divGallImg004{
    background-image: url(../images/WeekIsShotItsTuesday.jpeg)
}

#divGallImg005{
    background-image: url(../images/WeekendPlansQuestion.jpeg)
}

#divGallImg006{
    background-image: url(../images/CommonWasteInMyLife.jpeg)
}